/*header*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

.logo img {
  height: 40px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}

/*body*/
/* ----------------------------------------------------------- */

  .ui-datepicker {
    width: 12em; 
}
h1{
  margin-left: 450px;
  padding: 10px;
  text-align: center;
    color:green;
}

.form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-left: 500px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  label {
    display: block;
    margin-bottom: 10px;
    margin-left: 500px;
    font-weight: bold;
  }

  
  
  input[type="text"],
  input[type="date"],
  input[type="time"]
   {
    display: block;
    width: 50%;
    padding: 5px;
    margin-bottom: 30px;
    margin-left: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
button[type="submit"],
button[type="button"] {
  display: block;
  margin-left: 500px;
  width: 20%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #3e8e41;
}


/*footer*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
  display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #415161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}