/*header*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

.logo img {
	height: 40px;
  }

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}




/*  body   */


body { 
    margin: 0;
    padding: 0;
    text-align: center;
  }
  body li{
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  ul {
    text-align: left;
  margin-left: auto;
  margin-right: auto;
  }
  
  table {
    margin: 0 auto;
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0; 
    
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  #book-now-btn {
    color: #fff;
    background-color:green;
    border-color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  #book-now-btn:hover {
    background-color: darkgreen;
  }
  
  p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 50px;
  }
  
/* footer */




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
  position: sticky;  
  top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: #415161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
