/*header*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

.logo img {
  height: 40px;
}

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}




/*  body   */



body {
    /* overflow-x: hidden; */
  }
  
  #sidebar-wrapper {
    min-height: 95vh;
    max-height: 95vh;
    margin-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    z-index: 999;
    top: 0;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -16rem;
  }
  
  #sidebar-toggle-onSidebar {
    padding: 0.875rem 1.25rem;
  }
  
  .empty-space-sidebar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  .empty-space-sidebar-clicked {
    display: block;
    background-color: #333;
    opacity: 0.8;
  }
  
  @media (min-width: 768px) {
    #sidebar-wrapper {
      position: sticky;
      margin-left: -16rem;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }
  
    #sidebar-toggle-onSidebar,
    .empty-space-sidebar-clicked {
      display: none;
    }
  
    #wrapper.toggled .sidebar-toggler .top-bar,
    #wrapper.toggled .sidebar-toggler  {
      transform: rotate(0) !important;
    }
  
    #wrapper.toggled .sidebar-toggler .middle-bar {
      opacity: 1 !important;
    }
  
    #wrapper.toggled .sidebar-toggler .top-bar {
      transform: rotate(45deg) !important;
      transform-origin: 10% 10%;
    }
  
    #wrapper.toggled .sidebar-toggler .middle-bar {
      opacity: 0 !important;
    }
  

    }
  
    .sidebar-toggler .top-bar,
    .sidebar-toggler  {
      transform: rotate(0) !important;
    }
  
    .sidebar-toggler .middle-bar {
      opacity: 1 !important;
    }
  
  
  /* scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ddd;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.25rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  
  /* navbar */
  .navbar .sidebar-toggler {
    border: none;
    outline: none;
  }
  
  button.navbar-toggler:focus {
    outline: none !important;
  }
  
  .icon-bar {
    width: 22px;
    height: 2px;
    background-color: #2a337c;
    display: block;
    transition: all 0.25s;
  }
  
  .sidebar-toggler {
    border: none;
    background: transparent !important;
  }
  
  .middle-bar,
  .bottom-bar {
    margin-top: 4px;
  }
  
  .sidebar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  
  .sidebar-toggler .middle-bar {
    opacity: 0;
  }
  
  .sidebar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  
  #wrapper.toggled .sidebar-toggler .top-bar,
  #wrapper.toggled .sidebar-toggler .bottom-bar {
    transform: rotate(0);
  }
  
  #wrapper.toggled .sidebar-toggler .middle-bar {
    opacity: 1;
  }
  
  /* navbar scroll-x */
  .nav-link-secondary {
    display: inline-block;
    vertical-align: middle;
    transition: all 0.25s ease-out;
  }
  
  .nav-link-secondary:hover {
    color: #2a337c !important;
    fill: #2a337c;
    transition: all 0.25s ease-out;
  }
  
  .navbar-underline {
    width: 100%;
    height: 0.25rem;
  }
  
  .navbar-underline::after {
    position: relative;
    content: "";
    display: block;
    top: 100%;
    width: 100%;
    height: 0.25rem;
    background-color: #fff;
    transition: all 0.25s ease-out;
  }
  
  .nav-link-secondary:hover .navbar-underline::after {
    top: 0%;
    background-color: #000;
    transition: all 0.25s ease-out;
  }
  
  .vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
  }
  
  .scroll,
  .scroll > .container {
    white-space: nowrap;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  
  .scroll::-webkit-scrollbar {
    display: none;
  }
  


/* body */





/*footer*/




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
  position: sticky;  
  top: 100vh;
    bottom: 0;
    left: 0;
    right: 0;
    background: #415161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
