/*header*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10%;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
}

.logo img {
    height: 40px;
  }

nav ul{
    display: flex;
    flex-direction: row;
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}

/*body*/






.container {
    width: 800px;
    height: 450px;
    margin: 50px;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  select {
    margin: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
  }
  





/*footer*/





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcfcfc;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #415161;
    height: auto;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 10px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}