<!DOCTYPE html>
<html lang="en">
<!-- HEADER SECTION -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/forgot-password.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel=" icon" href="/static/temp/assets/images/icon.ico"/>
    <title>forgot Password </title>
</head>

<header>
    <a href="{{ url_for('home') }}" class="logo"> <img src="/static/pic/logo.png" alt="logo"> </a>
    <nav>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <!-- <li><a href="{{ url_for('find_your_charger') }}">Find your charger</a></li> -->
        <li><a href="{{ url_for('about') }}">About</a></li>
        <li><a href="{{ url_for('contact_us') }}">Contact us</a></li>
        <li><a href="{{ url_for('login') }}" class="cta">Login</a></li>
    </ul>
    </nav>
    
    
  </header>
<body>
    

    <div class="container">
		<h1>Forgot Password</h1>
		<form id="forgot-password-form">
			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<button type="submit">Reset Password</button>
		</form>
	
		<div id="result"></div>
	</div>
	
	<script src="/static/forgot-password.js"></script>
    
    </body>
    </html>
    


</body>
</html>